.title {
    font-family: Rocko;
    font-size: 64px;
    line-height: 64px;
    color: var(--primaryHighlight);
    margin: 0px;
    text-shadow: 0px 4px 4px var(--primaryShadow);
}

.explanation {
    margin-top: 24px;
    margin-left: 4px;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
}

.mapAndLists {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 16px;
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 36px;
        line-height: 32px;
    }
    .mapAndLists {
        grid-template-columns: 1fr;
    }
}

.lists {
    margin-top: 4px;
}

.evaluateButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 48px;
}

.submitButton {
    border: none;
    background-color: var(--primaryHighlight);
    font-size: 30px;
    border-radius: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0px 6px 2px -2px var(--primaryShadow);
    font-family: 'Rocko';
}

.submitButton:hover {
    cursor: pointer;
}

.submitButton:active {
    transform: translateY(4px);
    box-shadow: 0px 4px 2px -2px var(--primaryShadow);
}

.submitButtonErrorMessage {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    color: var(--errorText);
}

.hidden {
    display: none;
}

.mainStructure {
    margin: 0 auto;
    padding: 8px;
}
@media screen and (min-width: 768px) {
    .mainStructure {
        width: 90%;
        padding-top: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .mainStructure {
        width: 80%;
        max-width: 1200px;
    }
}

.fixedBody {
    overflow: hidden;
}