.title {
    font-family: Rocko;
    font-size: 64px;
    color: var(--primaryHighlight);
    margin: 24px;
    line-height: 85%;
    text-shadow: 0px 4px 4px var(--primaryShadow);
}

.mapAndLists {
    display: flex;
    justify-content: space-evenly;
}

.lists {
    width: 35%;
}

.evaluateButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}