body {
    font-family: 'Rocko';
    background-color: var(--primaryBackground);
}

:root {
    --primaryText: rgb(0, 0, 0);
    --fadedText: rgba(0, 0, 0, 0.4);
    --primaryHighlight: #d85151;
    --secondaryHighlight: #f6b0b0;
    --primaryBackground: #f7dcdc;
    --secondaryBackground: rgb(244, 244, 244);
    --primaryShadow: rgba(0, 0, 0, 0.25);
    --infoBoxInfoText: #262626e0;
    --infoBoxInfo: #e2e2e2e0;
    --infoBoxInfoBorder: #bababae0;
    --popupBackground: #e2e2e2;

    --potentialHomePrimary: #5574b0;
    --potentialHomeSecondary: #94a1bc;
    --potentialHomePrimaryHover: #6b92de;
    --potentialHomeSecondaryHover: #abbbdc;

    --importantPlacePrimary: #51b551;
    --importantPlaceSecondary: #95cc95;
    --importantPlacePrimaryHover: #68d568;
    --importantPlaceSecondaryHover: #afeeaf;
}

@font-face {
    font-family: 'Rocko';
    src: url(/resources/fonts/rocko/RockoFLF.ttf);
}

@font-face {
    font-family: 'RockoBold';
    src: url(/resources/fonts/rocko/RockoFLF-Bold.ttf);
}

.pac-container {
    font-family: 'Rocko';
}