body {
    font-family: 'Rocko';
    background-color: var(--primaryBackground);
}

:root {
    --primaryText: #000;
    --primaryHighlight: #d85151;
    --primaryBackground: #d8515132;
    --primaryShadow: rgba(0, 0, 0, 0.25);
    --infoBoxInfoText: #262626e0;
    --infoBoxInfo: #e2e2e2e0;
    --infoBoxInfoBorder: #bababae0;
}

@font-face {
    font-family: 'Rocko';
    src: url(/resources/fonts/rocko/RockoFLF.ttf);
}

@font-face {
    font-family: 'RockoBold';
    src: url(/resources/fonts/rocko/RockoFLF-Bold.ttf);
}

.pac-container {
    font-family: 'Rocko';
}