
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primaryShadow);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    overscroll-behavior: none;
    overflow: hidden;
}

.hidden {
    display: none;
}

.modal {
    width: 720px;
    height: 540px;
    background-color: var(--secondaryBackground);
    border: var(--primaryHighlight) 2px solid;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;

}

.modalBody {
    height: 100%;
    width: 100%;
    overflow: auto;
    overscroll-behavior: contain;
}

@media screen and (max-width: 768px) {
    .modal {
        width: 90%;
    }
}

.closeButton {
    all: unset;
    position: absolute;
    top: 16px;
    right: 16px;

    font-size: 46px;
    line-height: 20px;
}

.closeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.sectionTitle {
    font-weight: bold;
    padding-bottom: 4px;
}

.sectionContent {
    padding-bottom: 16px;
}

.highlightPTL {
    color: var(--potentialHomePrimary);
}

.highlightIP {
    color: var(--importantPlacePrimary);
}

.highlightWSIL {
    color: var(--primaryHighlight);
}