.map {
    width: 900px;
    height: 600px;
}

.infoBar, .map {
    position: absolute;
    top: 0;
    left: 0;
}

.mapContainer {
    width: 900px;
    height: 600px;

    position: relative;
    overflow: hidden;
}