.map {
    width: 720px;
    height: 480px;
}

.infoBar, .map {
    position: absolute;
    top: 0;
    left: 0;
}

.mapContainer {
    width: 720px;
    height: 480px;

    position: relative;
    overflow: hidden;

    border: 2px solid var(--primaryHighlight);
    border-radius: 4px;

    margin-top: 4px;
}
