.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.placeList {
    display: flex;
    flex-direction: column;
    height: 214px;

    border: 2px solid var(--primaryHighlight);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
    background-color: var(--secondaryBackground);
}

.placeListTitle {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.vpmTitle {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
    font-size: 20px;
}

.titleIcon {
    padding-left: 4px;
    padding-bottom: 4px;
    font-size: 24px;
}

.placeListList {
    font-size: 20px;
    overflow: auto;
}

.placeListList:hover {
    color: var(--fadedText);
}

.potentialHomes {
    color: var(--potentialHomePrimary);
}

.importantPlaces {
    color: var(--importantPlacePrimary);
}

.placeEntry {
    min-height: 30px;
    display: flex;
    align-items: center;
    border-bottom: black dotted;
    padding-top: 8px;
}

.placeEntry:hover {
    color: var(--primaryText) !important;
}

.potentialHomeName {
    padding-right: 16px;
}

.importantPlaceEntry {
    display: grid;
    grid-template-columns: 9fr 1.5fr .5fr;
}

.entryValueInput {
    all: unset;

    display: flex;
    justify-content: end;
    width: 60px;

    background-color: unset;
    border: none;
    text-align: right;
    font-size: 20px;
}

.entryValueInput:focus,
.entryValueInput:hover {
    background-color: white;
    border: 2px solid var(--primaryHighlight);
    border-radius: 4px;
}

.entryDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 12px;
}

.entryDeleteCross {
    all: unset;
    display: none;
    overflow: hidden;
    height: 100%;
    line-height: 100%;
    font-size: 30px;
}

.entryDeleteCross:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.placeEntry:hover .entryDeleteCross {
    display: initial;
}