.transportCheckboxes {
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
}

.transportCheckboxesTitle {
    font-weight: bold;
    margin-right: 8px;
    display: flex;
    align-items: start;
    width: fit-content;
}

.transportCheckboxWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.transportCheckbox {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2px;
}
.transportCheckbox:not(:last-child) {
    margin-right: 24px;
}

.checkboxBox {
    height: 16px;
    width: 16px;
    border: var(--borderWidth) var(--primaryHighlight) solid;
    border-radius: 3px;
    background-color: white;
    margin-right: 2px;
}

.checkboxBox.selected {
    background-color: var(--primaryHighlight);
}